body
{
    background-color: rgb(221, 236, 12);
    color: rgb(0, 0, 0)
}

/* comentarios */



                table {
                    width: 75%;
                    border-collapse: collapse;
                    background-color: #26c917;
                }
            
                td {
                    border: 2px solid black;
                    text-align: center;
                }
            


