

/* comentarios */
body
{
    background-color: rgb(30, 255, 0);
    
}

span
{
color: rgb(255, 255, 255);
}


p
{
    
}


                table {
                    width: 75%;
                    border-collapse: collapse;
                    background-color: #26c917;
                }
            
                td {
                    border: 2px solid black;
                    text-align: center;
                }
            

header
{
background-color: #5488e7;
}


nav
{
align-items: center;
text-align: center;
}

main
{
background-color: white;
}

section
{

background-color: cyan;
margin-left: 100px;
margin-right: 100px;



}

article
{
background-color: darkorange;
margin: 15px;
padding: 5px;
border-style: solid;
border-top-width: thin;
border-bottom-width: thin;
border-left-width: thin;
border-right-width: thin;
margin-left: 50px;
margin-right: 50px;
}



aside
{

background-color: darkturquoise;
margin-left: 130px;
margin-right: 130px;
}

footer
{
    padding: 1%;
    text-align: left;
}


#comentarios
{
background-color: yellow;
}

